.mg-r-1 {
  margin-right: 1rem; }

html {
  font-size: 62.5%; }

img {
  width: 100%; }

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Tahoma", sans-serif;
  background: #FAFAFA url("https://uxdesigncontest.com/img/confetti-bg-tile@2x.png") left top;
  background-attachment: fixed;
  background-size: 1280px;
  color: #312F37;
  font-size: 2rem;
  line-height: 1.55; }

h1 {
  font-size: 4rem;
  line-height: 1.125;
  margin: 0; }

h2 {
  font-family: "Roboto Slab";
  margin-bottom: 4rem;
  font-size: 3rem;
  font-weight: 700; }

.current-contest {
  font-weight: bold;
  padding-top: 0; }

.font--slab {
  font-family: "Roboto Slab"; }

h3,
h4 {
  margin-bottom: 1.5rem; }

h3 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0; }

h4 {
  font-size: 2rem;
  font-weight: bold; }

.heading--uppercase {
  color: #77767b;
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  text-transform: uppercase; }

p {
  margin-bottom: 1.5rem; }

ul,
ol {
  margin-bottom: 0; }

li {
  margin-bottom: 1.5rem; }

a {
  border-bottom: 0.1rem solid rgba(49, 47, 55, 0.2);
  color: #706f74;
  text-decoration: none;
  transition: all 0.1s ease-in-out; }
  a:hover, a:active, a:focus {
    background: rgba(0, 168, 255, 0.08);
    border-color: #312f37;
    color: #312f37;
    text-decoration: none;
    transition: all 0.1s ease-in-out; }
  a:focus {
    background: rgba(0, 168, 255, 0.08);
    outline: none; }

::selection {
  background: #FFFD7F;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #FFFD7F;
  /* Gecko Browsers */ }

input.email {
  border: 0.1rem solid rgba(49, 47, 55, 0.2) !important;
  font-size: 2rem !important;
  height: auto !important;
  margin-right: 1rem !important;
  padding: 1.2rem !important; }

input.email:focus {
  box-shadow: 0 0 0 8px rgba(0, 168, 255, 0.16);
  outline: none; }

.loud-text {
  font-family: "Teko";
  font-size: 10rem;
  line-height: 1;
  text-transform: uppercase; }

.text--subtle {
  color: #d6d6d7; }

#testimonials strong {
  font-size: 2.5rem;
  line-height: 1.25em; }

.sticky-top {
  top: 3rem; }

.nav-item {
  width: 100%;
  margin-bottom: 0.5rem; }

.nav-link,
.current-page {
  border-bottom: none;
  border-radius: 2rem;
  font-weight: 400;
  padding: 0.5rem 1rem 0.5rem 1rem;
  position: relative; }

.current-page {
  font-weight: 700; }

.sub-nav-link {
  margin-left: 0rem; }

.nav-link.active::before,
.sub-nav-link.active::before {
  content: '';
  position: absolute;
  height: 2rem;
  width: 2rem;
  background-color: #7FF6FF;
  border: 0.1rem solid rgba(49, 47, 55, 0.2);
  border-radius: 2rem;
  box-shadow: 0 0.5rem 0 rgba(49, 47, 55, 0.05);
  left: -3.5rem;
  top: 0.75rem; }

.subpage-title {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-top: -1rem;
  text-transform: uppercase; }

.divider {
  border-bottom: 1px solid rgba(49, 47, 55, 0.2);
  margin: 1rem 0;
  width: 100%; }

.heading-link {
  color: inherit; }

.link--underlined {
  border-bottom: 0.1rem solid rgba(49, 47, 55, 0.2); }

::selection,
::-moz-selection {
  background: #FFFD7F; }

.icon-link {
  border-bottom: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem; }

.img-link {
  border: none;
  position: relative;
  transition: all 0.2s ease-in-out;
  z-index: 1; }
  .img-link:hover {
    background: none;
    box-shadow: 0 1rem 0 rgba(49, 47, 55, 0.025);
    transform: scale(1.025);
    transition: all 0.2s ease-in-out; }
    .img-link:hover img {
      border-radius: 0.5rem !important;
      transition: all 0.2s ease-in-out; }
  .img-link:focus {
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 0 0 8px rgba(0, 168, 255, 0.16), 0 1rem 0 rgba(49, 47, 55, 0.025);
    outline: none;
    transform: scale(1.025);
    transition: all 0.2s ease-in-out; }
  .img-link:active {
    filter: grayscale(1);
    transition: all 0.2s ease-in-out; }

figcaption {
  background-color: #fafafa;
  border: 0.1rem solid rgba(49, 47, 55, 0.2);
  border-radius: 0 0 0.5rem 0.5rem;
  border-top: none;
  color: #77767b;
  font-size: 1.4rem;
  line-height: 1.5;
  padding: 1rem 1rem; }

@keyframes color-wave {
  0% {
    background-color: #FF7F9E; }
  25% {
    background-color: #7FF6FF; }
  50% {
    background-color: #7FFFB9; }
  75% {
    background-color: #7FF6FF; }
  100% {
    background-color: #FF7F9E; } }

.button {
  background-color: #7FF6FF;
  border: 0.1rem solid rgba(49, 47, 55, 0.2);
  border-radius: 4rem;
  box-shadow: 0 0.6rem 0 rgba(49, 47, 55, 0.05);
  color: #312F37;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.2rem 3rem; }
  .button:hover, .button:active, .button:focus {
    animation: none;
    background-color: #b3faff;
    text-decoration: none; }
  .button:active {
    box-shadow: 0 0.2rem 0 rgba(49, 47, 55, 0.16);
    transform: translateY(0.4rem);
    transition: all 0.3s ease; }
  .button:focus {
    box-shadow: 0 0 0 8px rgba(0, 168, 255, 0.16);
    outline: none; }

.button--gray {
  animation: none !important;
  background-color: #666 !important;
  border-radius: 4rem !important;
  color: #FFF !important;
  font-size: 2rem !important;
  font-weight: bold !important;
  height: auto !important;
  padding: 1.2rem 3rem !important; }
  .button--gray:hover, .button--gray:active, .button--gray:focus {
    background-color: #312F37 !important;
    text-decoration: none; }

.button--sm {
  font-size: 1.6rem !important;
  padding: 1.2rem 2.4rem !important; }

.button--xs {
  display: inline-block;
  font-size: 1.4rem !important;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem !important; }

.mg-b-0 {
  margin-bottom: 0 !important; }

.mg-b-05 {
  margin-bottom: 0.5rem !important; }

.mg-b-10 {
  margin-bottom: 1rem !important; }

.mg-b-25 {
  margin-bottom: 2.5rem !important; }

.mg-b-30 {
  margin-bottom: 3rem !important; }

.mg-b-40 {
  margin-bottom: 4rem !important; }

.mg-b-50 {
  margin-bottom: 5rem !important; }

.mg-b-75 {
  margin-bottom: 7.5rem !important; }

.mg-b-100 {
  margin-bottom: 10rem !important; }

.mg-b-150 {
  margin-bottom: 15rem !important; }

.mg-b-200 {
  margin-bottom: 20rem !important; }

.mg-b-250 {
  margin-bottom: 25rem !important; }

.mg-b-300 {
  margin-bottom: 30rem !important; }

.mg-b-400 {
  margin-bottom: 40rem !important; }

.pos-absolute {
  position: absolute; }

.pos-relative {
  position: relative; }

.small {
  font-size: 1.6rem;
  line-height: 1.5; }

.smaller {
  font-size: 1.4rem;
  margin: 0; }

.subtle {
  opacity: 0.5; }

.title {
  font-family: "Roboto Slab";
  font-size: 7rem;
  line-height: 1.125;
  margin-top: -5rem;
  text-align: center; }
  .title span {
    font-family: "Teko";
    font-weight: 700;
    font-size: 11rem;
    text-transform: uppercase; }

.title--small {
  font-family: "Roboto Slab";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.125; }
  .title--small span {
    font-family: "Teko";
    font-weight: 700;
    font-size: 4rem;
    text-transform: uppercase; }

.title-link {
  border-bottom: none;
  color: #312f37;
  display: block;
  position: relative;
  text-decoration: none;
  transition: all 0.2s ease-in-out; }
  .title-link:hover, .title-link:focus, .title-link:active {
    background-color: transparent;
    color: #312f37;
    text-decoration: none;
    transition: all 0.2s ease-in-out; }
    .title-link:hover:after, .title-link:focus:after, .title-link:active:after {
      color: #d6d6d7;
      content: '\f015';
      font-family: 'Font Awesome 5 Free';
      font-size: 2.9rem;
      font-weight: 900;
      left: 13.5rem;
      position: absolute;
      top: 2.5rem;
      transition: all 0.2s ease-in-out; }

.title-alt-1 {
  color: #77767b;
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase; }

abbr {
  text-decoration: none !important; }

.intro-illustration {
  max-width: 900px;
  margin: 0 auto;
  margin-top: -10rem; }

.intro-illustration img:last-child {
  display: none; }

.intro-illustration:hover img:last-child {
  display: block; }

.intro-illustration:hover img:first-child {
  display: none; }

.intro-animation {
  margin: -11rem auto 0;
  max-width: 900px; }

::placeholder {
  color: #77767b; }

.wrapper {
  background: white;
  border: 0.1rem solid rgba(49, 47, 55, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 1rem 0 rgba(49, 47, 55, 0.025);
  margin: 0 auto;
  padding: 5rem;
  text-align: left; }
  .wrapper p:last-child,
  .wrapper li:last-child {
    margin-bottom: 0; }

.wrapper_divider {
  margin: 5rem 0;
  border-top: 1px solid rgba(49, 47, 55, 0.2); }

.wrapper--no-padding {
  padding: 0; }

.wrapper--sm {
  font-size: 1.6rem;
  padding: 2.5rem; }

.wrapper--top-nav {
  padding: 2.5rem;
  padding-bottom: 1.5rem; }

.top-nav__content {
  font-size: 1.6rem; }
  @media (min-width: 567px) {
    .top-nav__content {
      padding-left: 5rem; } }
.top-nav__tagline {
  color: #77767b;
  font-size: 1.6rem;
  font-style: italic; }
  @media (min-width: 567px) {
    .top-nav__tagline {
      text-align: center; } }
.ux-trophy-banner {
  max-width: 700px; }

.ux-trophy-banner--full-width {
  margin-top: -2rem;
  width: 100%; }

.static-trophy-banner {
  position: absolute;
  top: -67px;
  left: 74px; }

.img--avatar {
  display: inline-block;
  height: 50px;
  margin-right: 15px;
  width: 50px; }

@keyframes float {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0px); } }

@keyframes float-small {
  0% {
    transform: translateY(-5px); }
  50% {
    transform: translateY(5px); }
  100% {
    transform: translateY(-5px); } }

.float {
  animation: float 5s ease-in-out infinite; }

.shapes-group-1 {
  top: 0;
  left: 4rem; }

.shapes-group-2 {
  bottom: -15rem;
  right: 0; }

.wrapper-left-square {
  top: 7.5rem;
  right: -12.5rem; }

.wrapper-right-circle {
  top: 8rem;
  left: -15rem; }

.wrapper-right-circle-small {
  top: 3rem;
  left: -8rem; }

.wrapper-left-trophy {
  top: 10rem;
  right: -9rem; }

.wrapper-right-trophy {
  top: 7rem;
  left: -9rem; }

.wrapper-left-triangle {
  top: 10rem;
  right: -15rem; }

tr {
  border-bottom: 1px solid rgba(49, 47, 55, 0.2); }

th,
td {
  padding: 1.5rem; }

.wrapper tr:last-child {
  border: none; }

td {
  height: 50px;
  vertical-align: middle; }

.hidden-md-down {
  display: block; }

.contest-alert {
  align-items: center;
  background: #FAFAFA;
  border-left: 1rem solid #77767b;
  border-radius: 0.5rem;
  display: flex;
  font-size: 1.8rem;
  line-height: 1.25;
  margin: 2rem 0;
  padding: 1.5rem; }

.contest-alert__emoji {
  font-size: 3rem;
  margin-bottom: 0;
  margin-right: 1rem; }

.contest-alert--error {
  background: #FFF2F5;
  border-color: #FF7F9E; }

.contest-alert--warning {
  background: #FFFEF2;
  border-color: #FFFD7F; }

.contest-alert--success {
  background: #F2FFF8;
  border-color: #7FFFB9; }

.contest-alert--info {
  background: #F2FEFF;
  border-color: #7FF6FF; }

.section-heading::before {
  background: black;
  border-radius: 0.1em;
  content: " ";
  width: 100%;
  height: 1.2em;
  left: 0;
  position: absolute;
  transform: skewY(-5deg) rotate(5deg); }

.donger {
  color: rgba(49, 47, 55, 0.2);
  font-size: 4rem; }

.winner-photo,
.volunteer__img {
  height: 100px;
  min-width: 100px;
  width: 100px; }

.volunteer__date {
  color: #77767b;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.volunteer__img {
  margin-right: 2rem; }

.charity__link {
  align-items: center;
  border-bottom: none;
  border-radius: 0.5rem;
  color: #312f37;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  text-decoration: none; }

.charity__img {
  border: 1px solid rgba(49, 47, 55, 0.2);
  border-radius: 0.5rem;
  margin-right: 2rem;
  height: 100px;
  width: 100px; }

.charity__name {
  font-size: 2rem;
  margin: 0; }

.charity__blurb {
  font-size: 1.6rem; }

.modal-content {
  background: white;
  border: 0.1rem solid rgba(49, 47, 55, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 1rem 0 rgba(49, 47, 55, 0.025); }

.modal-header,
.modal-body {
  padding: 2.5rem 5rem; }

.modal-header {
  align-items: center; }
  .modal-header .close {
    border-radius: 0.4rem;
    box-sizing: border-box;
    font-size: 3rem;
    width: 5rem; }
    .modal-header .close:hover {
      background-color: #d6d6d7; }
    .modal-header .close:focus {
      box-shadow: 0 0 0 8px rgba(0, 168, 255, 0.16);
      outline: none; }

.modal-body h3 {
  margin-top: 5rem; }

@media (max-width: 1199px) {
  .wrapper--sm {
    font-size: 1.4rem;
    padding: 2rem; }
  .nav-link.active::before,
  .sub-nav-link.active::before {
    left: -3rem;
    top: 0.6rem; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none; }
  .content-intro::before {
    left: 85px !important; } }

@media (min-width: 768px) {
  .flip-horizontal--md-up {
    transform: rotateY(180deg); } }

@media (max-width: 767px) {
  .title {
    font-size: 7rem; }
    .title span {
      font-size: 10rem; }
  .charity__link {
    padding: 1rem; }
  .charity__name {
    font-size: 1.8rem; } }

@media (max-width: 666px) {
  body {
    font-size: 1.6rem; }
  .contest-alert {
    padding-left: 1rem; }
  .donger {
    font-size: 3rem; }
  .ux-trophy-banner {
    margin-bottom: 3rem;
    animation: none; }
  .title {
    font-size: 5rem; }
    .title span {
      font-size: 8rem; }
  .title-alt-1 {
    font-size: 1.6rem;
    line-height: 1.5; }
  .button {
    font-size: 1.6rem;
    padding: 1rem; }
  .button--sm {
    font-size: 1.4rem !important; }
  .small {
    font-size: 1.4rem; }
  .wrapper {
    padding: 3rem; }
  .wrapper_divider {
    margin: 2rem 0;
    border-top: 1px solid rgba(49, 47, 55, 0.2); }
  .wrapper--right {
    margin-left: 7rem;
    margin-right: 1rem; }
  .wrapper--left {
    margin-left: 1rem;
    margin-right: 7rem; }
  .contest-intro::before {
    display: none; }
  .mg-b-50 {
    margin-bottom: 2rem !important; }
  .mg-b-75 {
    margin-bottom: 3rem !important; }
  .mg-b-100 {
    margin-bottom: 6rem !important; }
  .mg-b-150 {
    margin-bottom: 7rem !important; }
  .mg-b-250 {
    margin-bottom: 10rem !important; }
  .mg-b-400 {
    margin-bottom: 15rem !important; }
  .shapes-group-1 {
    left: 0; }
  .shapes-group-2 {
    bottom: -7rem; }
  .wrapper-right-circle-small {
    left: -7rem; }
  .wrapper-right-circle {
    left: -9rem; }
  .wrapper-left-triangle {
    right: -8rem; }
  .wrapper-left-square {
    right: -6.5rem; }
  .wrapper-left-trophy {
    top: 8rem;
    right: -7rem; }
  .wrapper-right-trophy {
    top: 8rem;
    left: -7rem; }
  ol {
    margin-left: -1rem; }
  h1 {
    font-size: 2.5rem; }
  h2 {
    font-size: 2.25rem; }
  h3 {
    font-size: 2rem; }
  th,
  td {
    padding: 1rem; }
  li {
    margin-bottom: 1rem; }
  .contest-alert {
    font-size: 1.6rem; } }

@media (max-width: 500px) {
  .charity__link {
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem; }
  .charity__img {
    height: 50px;
    width: 50px; }
  .charity__name {
    font-size: 1.8rem; } }

#mc_embed_signup label {
  font-size: 2.5rem !important;
  line-height: 1.25 !important;
  margin: 0 !important;
  padding: 0 !important; }

#mc_embed_signup p {
  font-size: 1.8rem; }

#mc_embed_signup .button {
  background-color: #666; }
  #mc_embed_signup .button:hover {
    background-color: #312F37 !important; }

#clockdiv {
  border-radius: 6rem;
  display: inline-block;
  font-weight: bold;
  text-align: center; }
  #clockdiv > div,
  #clockdiv div > span {
    display: inline-block; }

.smalltext {
  font-size: 1.6rem; }

.w-15 {
  max-width: 20rem;
  min-width: 10rem; }

.img--testimonial {
  border-radius: 4rem;
  display: block;
  margin-top: 1rem;
  width: 8rem; }
